<!DOCTYPE html>
<html>
  <head>
    <style>
      .image {
        position: relative;
        width: 100%;
      }
      h2 {
        position: absolute;
        top: 50px;
        left: 20px;
        width: 100%;
        font: bold 24px/45px Sans-Serif;
      }
      h3 {
        position: absolute;
        top: 80px;
        left: 30px;
        width: 100%;
        font: bold 20px/30px Helvetica;
      }
    </style>
    <title>Content-Creator</title>
  </head>
  <body>
    <div class="image" style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
      <img src="/assets/ganeshInShreeTemple.jpg" style='width:100%;height:100%' />
      <h2>Welcome to "Content-Creator"</h2>
      <h3>Releasing World-Wide</h3>
    </div>
  </body>
</html>

