<!DOCTYPE html>
<html>
  <head>
    <title>Content-Creator</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Content-Creator</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/articles">Articles</a></li>
            <!-- <li><a href="/myblog">MyBlog</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
